*
!/alacritty/
!/alacritty/**

!/hypr/
!/hypr/**

!/dunst/
!/dunst/**

!/fastfetch/
!/fastfetch/**

!/gammastep/
!/gammastep/**

!/swhkd/
!/swhkd/**

!/tmux/
!/tmux/**

!/wofi/
!/wofi/**

!/zsh/
!/zsh/**
