@define-color bg_color #282828;
@define-color fg_color #ebdbb2;
@define-color fg_alt_color #fbf1c7;
@define-color accent_color #ff2453;

* {
  border: none;
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 12px;
  margin-left: 3px;
  margin-right: 5px;
  min-height: 0;
}

window#waybar {
  background-color: transparent;
  border-radius: 8px;
  margin: 5px 10px;
  padding: 0 10px;
  box-shadow: none;
}

#workspaces button {
  background-color: #1d2021;
  border-color: rgba(251, 241, 199, .8);
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  color: @fg_color;
  font-weight: bold;
  padding: 0;
  padding-left: 5px;
  padding-right: 0;
}

#workspaces button.active {
  background-color: #cc241d;
  color: #ebdbb2;
}

#workspaces button:hover {
  background: #1d2021;
  color: #ebdbb2;
}

#window {
  color: @fg_alt_color;
}

#custom-spotify,
#pulseaudio,
#network,
#memory,
#battery,
#tray,
#clock {
  padding: 0 6px;
  margin: 4px 2px;
  background-color: #1d2021;
  color: @fg_alt_color;
  border-radius: 5px;
  border-color: rgba(251, 241, 199, .8);
  border-style: solid;
  border-width: 1px;
}

#battery.warning {
  border-color: #fabd2f;
  color: #fabd2f;
}

#battery.critical {
  color: #cc241d;
}

#battery.charging {
  border-color: #d79921;
  color: #d79921;
}

#pulseaudio.muted {
  border-color: #fb4934;
  color: #fb4934;
}

tooltip {
  background-color: @bg_color;
  color: @fg_color;
  border-radius: 8px;
}

#pulseaudio.group,
#network.group,
#battery.group {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin: 4px 0;
  padding: 0 6px;
  border-color: rgba(251, 241, 199, 0.3);
  border-style: solid;
  border-width: 1px;
}

/* Remove extra margins between grouped items */
#pulseaudio.group {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0;
  border-right: none;
}

#tray {
  padding: 0 4px;
}

#memory,
#network {
  padding-right: 10px;
}

#network.disconnected {
  border-color: #fb4934;
  color: #fb4934;
}

#custom-network {
  padding: 0 8px;
  margin: 4px;
  border-radius: 5px;
}

#custom-network.vpn-connected {
  color: #b8bb26;
  border: 1px solid #b8bb26;
}

#custom-network.vpn-disconnected {
  color: #fb4934;
  border: 1px solid #fb4934;
}

#battery.group {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
