@define-color bg_color #282828;
@define-color fg_color #ebdbb2;
@define-color fg_alt_color #fbf1c7;
@define-color accent_color #ff2453;

* {
  border: none;
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background-color: transparent;
  border-radius: 8px;
  margin: 5px 10px;
  padding: 0 10px;
  box-shadow: none;
}

#workspaces button {
  padding: 0 6px;
  color: @fg_color;
}

#workspaces button.focused {
  color: @accent_color;
}

#workspaces button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

#window {
  color: @fg_alt_color;
}

#custom-spotify,
#pulseaudio,
#network,
#cpu,
#memory,
#battery,
#tray,
#clock {
  padding: 0 8px;
  margin: 4px 2px;
  background-color: rgba(0, 0, 0, 0.4);
  color: @fg_alt_color;
  border-radius: 5px;
  border: 1px solid rgba(251, 241, 199, 0.3);
}

#battery.warning {
  color: #d79921;
}

#battery.critical {
  color: #cc241d;
}

#pulseaudio.muted {
  color: #cc241d;
}

tooltip {
  background-color: @bg_color;
  color: @fg_color;
  border-radius: 8px;
}

#pulseaudio.group,
#network.group,
#battery.group {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin: 4px 0;
  padding: 0 6px;
  border: 1px solid rgba(251, 241, 199, 0.3);
}

/* Remove extra margins between grouped items */
#pulseaudio.group {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0;
  border-right: none;
}

#network.group {
  border-radius: 0;
  margin-right: 0;
  border-right: none;
}

#custom-network {
  color: #fbf1c7;
  padding: 0 8px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  border: 1px solid rgba(251, 241, 199, 0.3);
  margin: 4px;
}

#battery.group {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
